{% trans_default_domain 'FOSUserBundle' %}
<div>
    {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
        {{ form_widget(form) }}
        <div>
            <input class="btn btn-sm btn-primary" type="submit" value="{{ 'profile.edit.submit'|trans }}" />
            <a class="btn btn-primary btn-sm" href="{{ path('fos_user_change_password') }}">{{ 'change_password.submit'|trans }}</a>
        </div>
    {{ form_end(form) }}

</div>


