<h2 class="center">Tableau de bord</h2>

Nom du projet : {{ dashboard.loadDashboard.name_project }}

<hr>

<div class="">
    <div class="alert alert-success">
        <div class="">
            <div class="">
                <h4>Statistiques</h4>
                Membres Particuliers : {{ dashboard.loadDashboard.member_user }}<br>
                Membres Admin : {{ dashboard.loadDashboard.member_admin }}<br>
                Nombre de categorie : {{ dashboard.loadDashboard.count_categorie }}<br>
                Nombre d'association : {{ dashboard.loadDashboard.count_association }}<br>
            </div>
        </div>
    </div>
</div>
