{% extends "::layoutAdmin.html.twig" %}
{% block title %}Associations{% endblock %}
{% block body %}
    <h2 class="text-center">Affichage d'une Association</h2>
    <hr>
    <p class="text-center">
        {% if association.status == var_project.status_assoc_waiting %}
            <a class="btn btn-primary btn-sm" href="{{ path('admin_valid_association', {'slug': association.slug}) }}">Valider</a>
            <a class="btn btn-primary btn-sm" href="{{ path('admin_reject_association', {'slug': association.slug}) }}">Rejeter</a>
        {% endif%}
        <a class="btn btn-primary btn-sm" href="{{ path('admin_edit_association', {'slug': association.slug}) }}">Editer</a>
        <a class="btn btn-primary btn-sm" href="{{ path('admin_del_association', {'slug': association.slug}) }}">Supprimer</a>
    </p>

    <div class="well">

        <table class="table table-striped table-hover">
            <tr><td nowrap>Nom de l'association : </td><td>{{ association.name }}</td></tr>
            <tr><td>Catégorie : </td><td>{{ association.categorie.name }}</td></tr>
            <tr><td>Auteur : </td><td>{{ association.author }}</td></tr>
            <tr><td nowrap>Date d'enregistrement sur le site : </td><td>{{ association.dateRecord|date('Y-m-d') }}</td></tr>
            <tr><td>Date de validation : </td><td>{{ association.dateApproval|date('Y-m-d') }}</td></tr>
            <tr><td>Approuvé par : </td><td>{{ association.approuvedBy }}</td></tr>
            <tr><td>Status : </td>
                <td>
                    {% if association.status == var_project.status_assoc_waiting %}<span class="label label-warning">En attente</span>{% endif%}
                    {% if association.status == var_project.status_assoc_valid %}<span class="label label-success">Validée</span>{% endif %}
                    {% if association.status == var_project.status_assoc_rejected %}<span class="label label-danger">Rejetée</span>{% endif %}
                </td>
            </tr>
            {% if association.status == var_project.status_assoc_rejected %}
                <tr><td>Motif du rejet : </td><td>{{ association.rejectMessage }}</td></tr>
            {% endif %}
            <tr><td>Date de création : </td><td>{{ association.dateCreation|date('Y-m-d') }}</td></tr>
            <tr><td>Adresse : </td><td>{{ association.searchaddress }}</td></tr>
            <tr><td>Complement d'adresse : </td><td>{{ association.address2 }}</td></tr>
            <tr><td>Numéro de rue : </td><td>{{ association.numstreet }}</td></tr>
            <tr><td>Rue : </td><td>{{ association.address1 }}</td></tr>
            <tr><td>Code postal : </td><td>{{ association.postalcode }}</td></tr>
            <tr><td>Ville : </td><td>{{ association.city }}</td></tr>
            <tr><td>Département : </td><td>{{ association.department }}</td></tr>
            <tr><td>Région : </td><td>{{ association.region }}</td></tr>
            <tr><td>Pays : </td><td>{{ association.country }}</td></tr>
            <tr><td>Numéro de téléphone : </td><td>{{ association.phoneNumber }}</td></tr>
            <tr><td>Url : </td><td>{{ association.url }}</td></tr>
            <tr><td>Nombre de visite : </td><td>{{ association.hits }}</td></tr>
            <tr><td>Numéro RNA : </td><td>{{ association.rna }}</td></tr>
            <tr><td>Logo : </td>
                <td>
                    {% if association.logo == null %}
                        <img class="img_logo" src="{{ asset('images/DefaultLogo.gif') }}" alt="Logo par defaut">
                    {% else %}
                        <img class="img_logo" src="{{ asset('uploads/images/' ~ association.logo) }}" alt="Logo">
                    {% endif %}
                </td>
            </tr>
            <tr><td>Objet : </td><td>{{ association.object }}</td></tr>


        </table>
    </div>

{% endblock %}
