<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('homepage') }}"><img class="nav_logo" src="{{ asset('images/logo.gif') }}" alt="logo">&nbspAssocNet</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ path('front') }}"><i class="fa fa-home" aria-hidden="true"></i>&nbsp Accueil</a></li>
                <li><a href="{{ path('directory', {'slug': 'all'}) }}"><i class="fa fa-list" aria-hidden="true"></i>&nbsp Annuaire</a></li>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ app.user.username }} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {% if is_granted("ROLE_SUPER_ADMIN") %}
                                <li><a href="{{ path('admin') }}"><i class="fa fa-cogs" aria-hidden="true"></i>&nbsp Administration</a></li>
                            {% endif %}
                            <li><a href="{{ path('fos_user_profile_edit') }}"><i class="fa fa-user" aria-hidden="true"></i>&nbsp Mon profil</a></li>
                            <hr>
                            {% if is_granted("ROLE_USER") %}
                                <li><a href="{{ path('add_association') }}"><i class="fa fa-list" aria-hidden="true"></i>&nbsp Soumettre</a></li>
                                <li><a href="{{ path('user_association') }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp Mes associations</a></li>
                            {% endif %}
                            <hr>
                            <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{{ path('fos_user_security_login') }}"><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp {{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
                {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
